<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Yota Test Suite" parallel="tests" thread-count="1">
    <test name="Admin and user status change test" parallel="methods">
        <classes>
            <class name="YotaTests">
                <methods>
                    <include name="checkChangeCustomerStatusByAdmin" />
                    <include name="checkChangeCustomerStatusByUser" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="Client activation test">
        <classes>
            <class name="YotaTests">
                <methods>
                    <include name="checkGetCustomerById" />
                </methods>
            </class>
        </classes>
    </test>
</suite>